@import "tailwindcss";
@plugin "daisyui" {
  themes: garden;
}

@plugin "daisyui/theme" {
  name: "garden";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-primary: oklch(45% 0.187 3.815);
  --color-primary-content: oklch(100% 0 0);
}

@layer utilities {
  @layer daisyui.l1.l2.l3 {
    .input:focus,
    .input:focus-visible,
    .input:focus-within {
      outline: none;
    }
  }
}
